.container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 1rem;
}

.left_container,
.right_container {
  width: 50%;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid black;
}

.input_div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem;
}
input {
  height: 1.5rem;
}
.right_container span {
  font-weight: 700;
}
