body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
  /* Created with https://www.css-gradient.com */
  background: #5e8e5e;
  background: -webkit-linear-gradient(top, #5e8e5e, #972021);
  background: -moz-linear-gradient(top, #5e8e5e, #972021);
  background: linear-gradient(to bottom, #5e8e5e, #972021);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
